
<div class="main-panel">
    <div class="content-wrapper">
        {{!-- <div class="container"> --}}
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        
                        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                            <h3 class="font-weight-bold text-capitalize ">{{school.schoolname}}</h3>
                            <h6 class="font-weight-bold text-capitalize text-muted">{{class}} Students</h6>
                            <h6 class="font-weight-normal text-capitalize text-muted">Registered {{school.regdate}}</h6>
                            {{!-- <h6 class="font-weight-normal mb-0">All systems are running smoothly!</h6> --}}
                        </div>
                        <a href="" class="btn btn-behance px-3 py-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Add Student
                        </a>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Add Students</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/admin/addstudent" class="forms-sample" enctype="multipart/form-data" method="post">
                                            {{!-- <div class="form-group">
                                                <label for="imgg">Student Image</label> <br>
                                                <input type="file" name="pix" id="imgg" accept="image/jpg,image/jpeg,image/gif,image/png,image/svg">
                                            </div> --}}
                                            <div class="form-group">
                                                <label for="exampleInputName1">Student Name</label>
                                                <input type="text" class="form-control" name="names" id="exampleInputName1" placeholder="Name" />
                                            </div>
                        
                                            {{!-- <div class="form-group">
                                                <label for="age">Student Age</label>
                                                <input type="number" class="form-control" id="age" placeholder="Age" name="age" />
                                            </div> --}}
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Add Student</button>
                                            </div>
                                        </form>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        {{!-- <h4 class="card-title px-2">{{class}} Students</h4> --}}

                        <div class="row px-3">

                            
                        
                            {{#if students }}
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr class="text-center">
                                                {{!-- <th>Orders</th> --}}
                                                <th>Full Name</th>
                                                <th>School</th>
                                                <th>Class</th>
                                                <th>Code</th>
                                                <th>Last seen</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {{#each students}}
                                            
                                                
                                                <tr class="text-center">
                                                        {{!-- <td class="py-1">
                                                            <img src={{profileimage}} alt="image" />
                                                        </td> --}}
                                                        <td>
                                                            <a title="visit {{name}}" href="/admin/indstudents/{{userid}}" style="width: 100%;text-align:start;"
                                                                class="text-center ttooltip bgh py-3 w-100  text-dark  rounded-lg mt-3 text-capitalize">

                                                                {{name}}
                                                            
                                                            
                                                            </a>
                                                            
                                                        </td>
                                                        
                                                        <td class="text-capitalize">{{schoolname}}</td>
                                                        <td>
                                                            <a href="/admin/indstudents/{{userid}}" style="width: 100%;"
                                                                class="  py-3 w-100 rounded-lg mt-3  text-dark text-capitalize">
                                                            
                                                                {{classs}}
                                                            
                                                            
                                                            </a>
                                                            
                                                            
                                                        </td>
                                                        <td title="student code :{{signparent}}" class="user-select-all">{{signparent}}</td>
                                                        <td>{{lastseen}}</td>
                                                        <td title="delete {{name}}'s account" class="ttooltip"><a style="font-family: cursive;color:red;" href="/admin/delete/{{userid}}"><i class=" fa fa-trash"></i></a></td>

                                                    </tr>
                                            
                                            
                                            
                                            {{/each}}
                                            
                                            
                                
                                        </tbody>
                                    </table>
                                    
                                
                                </div>


                            {{else}}
                                {{#if tobe}}
                                    <h4 class="text-center text-muted">Sorry ! Student not found. </h4>
                                {{else}}
                                    <h4 class="text-center text-muted">No registered student(s) yet</h4>
                                {{/if}}
                            {{/if}}
                        </div>

                        
                    </div>
                    <div class="fwrapper d-flex justify-contents-center">
                        <br>
                    
                        <div class="wrapper">
                            <a class="aa" href="/admin/getclasses/{{school.schoolcode}}"><span><i class="fa fa-angle-double-left"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        {{!-- </div> --}}
    </div>
</div>