<div class="main-panels ">
    <div class="content-wrappemr ">
        <div class="container-fluid">
            <div class="col-lg-12 ">
                <div class="card">
                    <div class="card-body">
                        <div class="col-12 col-xl-12 mb-xl-0">
                            {{!-- <h3 class="font-weight-bold text-capitalize ">{{school.schoolname}}</h3> --}}
                            <h6 class="font-weight-bold text-capitalize text-muted">~Cleared Orders~</h6>
                            {{!-- <h6 class="font-weight-normal text-capitalize text-muted">Registered
                                {{school.regdate}}</h6> --}}
                            {{!-- <h6 class="font-weight-normal mb-0">All systems are running smoothly!</h6> --}}
                        </div>
                        {{!-- <a href="" class="btn btn-behance px-3 py-2" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            Add Class
                        </a> --}}


                        <br>
                        <div class="row px-1">



                            {{#if orders}}
                            <div class="table-responsive">
                                {{!-- <table class="table table-striped">
                                    <thead>
                                        <tr class="text-center">
                                            
                                            <th>s/n</th>
                                            <th>Date</th>
                                            <th>Ordercodes</th>

                                            <th>Avatar</th>
                                            <th>Package</th>
                                            <th>Quantity</th>
                                            <th>Unit Price <small class="text-muted">AED</small></th>
                                            <th>Gross <small class="text-muted">AED</small></th>
                                            <th>Status</th>

                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    
                                        {{#each orders}}
                                    
                                    
                                        <tr class="text-center">
                                            <td class="ttooltip text-capitalize" title="order no {{sne}}">
                                    
                                                {{ sne}}
                                            </td>
                                            <td class="ttooltip text-capitalize" title="date of order">
                                    
                                                {{ justdate }}
                                            </td>
                                            <td class="text-capitalize ttooltip" title="unique ordercode">
                                    
                                                <label for="lov{{@index}}">{{ ordercode }}</label>
                                            </td>
                                            <td class="ttooltip" title="click to view">
                                                <a href={{orderavatar}} class="p-0">
                                                    <img src={{orderavatar}} alt="" style="object-fit:contain;">
                                                </a>
                                    
                                            </td>
                                            <td title="package plan" class="ttooltip">
                                                {{packagename}}
                                    
                                    
                                            </td>
                                            <td class="ttooltip" title="no of units ordered">{{quantity}}</td>
                                            <td><span class="tofix ttooltip" title="package price per item">{{priceperpackage}}</span></td>
                                            <td><span class="tofix ttooltip"
                                                    title="{{priceperpackage}} X {{quantity}} = {{totalunitsprice}}">{{totalunitsprice}}</span></td>
                                            <td class="text-warning ttooltip" title="Order completed ! ">Completed</td>
                                            <td title="delete order ?" class="ttooltip"><a href="/parent/deleteclfromparent/{{ordercode}}"><i
                                                        class="text-danger fa fa-trash"></i></a></td>
                                            
                                            
                                    
                                        </tr>
                                    
                                    
                                    
                                        {{/each}}
                                    
                                    
                                    
                                    </tbody>
                                    
                                </table> --}}
                                <table class="table table-striped">
                                    <thead>
                                        <tr class="text-center">
                                            {{!-- <th>Orders</th> --}}
                                            <th>s/n</th>
                                            <th>Date</th>
                                            <th>Ordercodes</th>
                                            {{!-- <th>Avatar</th>
                                            <th>Package</th> --}}
                                            <th>Items</th>
                                            {{!-- <th>Unit Price <small class="text-muted">AED</small></th> --}}
                                            <th>Gross <small class="text-muted">AED</small></th>
                                            <th>Total <small class="text-muted">AED</small></th>
                                
                                            <th>Status</th>
                                            <th>View</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                
                                        {{#each orders}}
                                
                                
                                        <tr class="text-center" data-bs-toggle="modal" data-bs-target="#exa{{@index}}">
                                            <td class="ttooltip text-capitalize" title="order no {{sne}}">
                                
                                                {{ sne}}
                                            </td>
                                            <td class="ttooltip text-capitalize" title="date of order">
                                
                                                {{ justdate }}
                                            </td>
                                            <td class="text-capitalize ttooltip" title="unique ordercode">
                                
                                                <label for="lov{{@index}}">{{ ordercode }}</label>
                                            </td>
                                            {{!-- <td class="ttooltip" title="click to view">
                                                <a href={{orderavatar}} class="p-0">
                                                    <img src={{orderavatar}} alt="" style="object-fit:contain;">
                                                </a>
                                
                                            </td> --}}
                                            {{!-- <td title="package plan" class="ttooltip">
                                                {{packagename}}
                                
                                
                                            </td> --}}
                                            <td class="ttooltip" title="no of items">{{orderlength}}</td>
                                            {{!-- <td><span class="tofix ttooltip" title="package price per item">{{priceperpackage}}</span></td> --}}
                                            <td><span class="tofix ttooltip" title="gross price">{{gross}}</span></td>
                                            <td>
                                                <span class="tofix ttooltip" title="gross + shipping <br> {{gross}} + {{ship}}={{total}}">{{total}}</span>
                                            </td>
                                            
                                            <td class="text-success ttooltip" title=" Completed ! ">Completed</td>
                                            <td title="view order ?" class="ttooltip"><a href="/parent/viewbookedorder/{{ordercode}}"><i
                                                        class="text-info fa fa-eye"></i></a></td>
                                            <td title="delete order ?" class="ttooltip"><a href="/parent/deletefromparent/{{ordercode}}"><i
                                                        class="text-danger fa fa-trash"></i></a></td>
                                            {{!-- <td>na</td> --}}
                                
                                
                                        </tr>
                                
                                
                                
                                
                                
                                        {{/each}}
                                
                                
                                
                                    </tbody>
                                </table>


                            </div>


                            {{else}}
                            <h4 class="m-auto text-center text-muted">No cleared Orders !</h4>
                            {{/if}}
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>