
<div class="container-fluid pt-1">
        <div class="col-12">
            <div class="row px-xl-5 pb-3" style="overflow: auto;height:60vh;width:100%;">
                {{#each wm}}
        
                <div class="col-lg-3 col-md-6 col-sm-12 pb-3">
                    <div class="card product-item border-0 mb-4" style="max-height:40vh;border:2px solid black;">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <label for={{@index}}>
                                <img class="img-fluid w-100" src={{wm}} alt=""
                                    style="object-fit: contain;max-width:100%;border-radius:15px;">
                            </label>
                        </div>
        
                        <div class="card-footer px-0 d-flex justify-content-between pl-2 bg-light border align-items-center">
                            {{!-- <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View
                                Detail</a> --}}
                            <span data-bs-toggle="modal" data-bs-target="#exampleModalkl{{@index}}">
                                <i class="fas fa-eye mr-1" style="color: #7CB9E8;"></i>
                            </span>
        
                            <div class="modal fade" id="exampleModalkl{{@index}}" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog ">
                                    <div class="modal-content" style="width:fit-content;">
                                        <div class="modal-header d-flex align-items-center">
                                            <h5 class="modal-title px-2" id="exampleModalLabel">View Item &nbsp;
                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="object-fit: contain;width:40vw;">
                                            <img src={{wm}} alt="" style="object-fit: contain;">
                                        </div>
        
                                    </div>
                                </div>
                            </div>
        
                            <input type="checkbox" src="fghhjk" name="pics" id={{@index}} value={{pixname}}
                                onchange="ifchecked(this.id)" class="checkboxx">
        
        
        
                        </div>
                    </div>
                </div>
                {{/each}}
        
            </div>
        
        
            {{!-- <button type="submit" class="ml-auto ">Proceed to cart</button> --}}
            {{!-- <div class="col-lg-6 col-md-6 col-10 mx-auto">
                <button type="submit" class="btn vero btn-block my-3 mx-auto py-3"
                    style="background-color:#0c7ed6;color:bisque;">
                    Proceed to checkout</button>
            </div> --}}
        </div>

</div>
