
<style>
    .product-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
}

.product-image-container {
  width: 30%;
}

.product-info-container {
  width: 70%;
  padding-left: 20px;
}

img {
  width: 100%;
  height: auto;
}

.form {
  display: flex;
  flex-wrap: wrap;
}

.label, .input[type="text"] {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.label {
  width: 30%;
  padding-right: 10px;
}
input[type="text"] {
  width: 70%;
}

.input[type="submit"] {
  background-color: #ff5722;
  color: #fff;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

.input[type="text"][name="card-number"], input[type="text"][name="expiry-date"], input[type="text"][name="cvv"] {
  width: 30%;
}


h1 {
  margin-top: 0;
}

.price {
  color: #ff5722;
  font-size: 1.5em;
  font-weight: bold;
}
</style>



<div class="container-fluid  " style="background-color: #3694db;">
    <div class="d-flex flex-column align-items-center justify-content-center" style="">
        <h1 class="font-weight-semi-bold text-uppercase text-light">Checkout</h1>
        
    </div>
</div>
<!-- Page Header End -->


<!-- Checkout Start -->
<form action="/parent/confirmpayment" method="post">
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Shipping Address</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>First Name</label>
                            <input required value="{{parent.fname}}" name="sname" class="form-control" type="text" placeholder="Rashid">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Last Name</label>
                            <input required name="ssurname" value="{{parent.lname}}" class="form-control" type="text" placeholder="Sheikh">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input required class="form-control" value={{parent.semail}} type="text" placeholder="example@email.com">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input required class="form-control" value={{parent.sphone}} type="text" placeholder="+123 456 789">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address Line 1</label>
                            <input required class="form-control" value={{parent.addressline1}} type="text" placeholder="123 Street">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address Line 2</label>
                            <input required class="form-control" type="text" placeholder="123 Street">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>UAE</label>
                            <select class="custom-select" required >
                                <option value="">Select state</option>
                                <option value="AZ">Abu Dhabi</option>
                                <option value="AJ">Ajman</option>
                                <option value="DU">Dubai</option>
                                <option value="FU">Fujairah</option>
                                <option value="RK">Ras al-Khaimah</option>
                                <option value="SH">Sharjah</option>
                                <option value="UQ">Umm al-Quwain</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>City</label>
                            <input required class="form-control" type="text" placeholder="Dubai"  value={{parent.city}} required>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-3">
                    <div class="card-header border-0" style="background-color: #3694db;">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <div class="card-body">
                        {{!-- <h5 class="font-weight-medium mb-3">Products</h5> --}}
                        
                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Gross</h6>
                            <h6 class="font-weight-medium">AED {{gross}}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">AED {{vat}}</h6>
                            <input type="hidden" value={{vat}}>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">AED <span class="tofix">{{total}}</span></h5>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header border-0"  style="background-color: #0964aa;">
                        <h4 class="font-weight-semi-bold m-0">Payment</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input required type="radio" class="custom-control-input" name="payment" id="paypal">
                                <label class="custom-control-label" for="paypal">Paypal</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input required type="radio" class="custom-control-input" name="payment" id="directcheck">
                                <label class="custom-control-label" for="directcheck">Direct Check</label>
                            </div>
                        </div>
                        <div class="">
                            <div class="custom-control custom-radio">
                                <input required type="radio" class="custom-control-input" name="payment" id="banktransfer">
                                <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <button class="btn btn-lg btn-block text-light font-weight-bold my-3 py-3"  style="background-color:#0964aa;" type="button">Place Order</button>
                    </div>

                    
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h3 class="text-center">PAYPAL </h3>
                                    <h3 class="text-center">AED <span class="tofix">{{total}}</span> </h3>
                                    <form id="paymentForm" action="/admin/confirmpayment" method='post' class="">
                                        <label class="label" for="name">Name:</label>
                                        <input class="input" type="text" id="name" name="name" required>
                                        <label class="label" for="address">Address:</label>
                                        <input class="input" type="text" id="address" name="address" required>
                                        <div class="card-info">
                                            <label class="label" for="card-number">Card Number:</label>
                                            <input class="input w-100" type="text" id="card-number" name="card-number" required>
                                        </div>
                                        <div class="card-info">
                                            <label class="label" for="expiry-date">Expiry Date:</label>
                                            <input class="input" type="text" id="expiry-date" name="expiry-date" required>
                                            <br>
                                            <label class="label" for="cvv">CVV:</label>
                                            <input class="input" type="text" id="cvv" name="cvv" required>
                                            <br>
                                            <label class="label" for="pin">PIN:</label>
                                            <input class="input" type="text" id="pin" name="pin" required>
                                        </div>
                                        <input class="input" type="submit" value="Pay" onclick="submitForm()">
                                    </form>
                                    
                                    <script src="https://js.paystack.co/v1/inline.js"></script>
                                </div>
                    
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</form>
<!-- Checkout End -->

