<div class="container-fluid pt-5">

    {{#if packages}}
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2 text-capitalize">Packages</span></h2>
    </div>

    <form action="/parent/tocart" method="post">
        <div class="row px-xl-5 pb-3" style="overflow: auto;height:50vh;">
            {{#each packages}}

            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <label for={{ packageid}}>
                            <img class="img-fluid w-100" src={{packimg}} alt="">
                        </label>
                    </div>
                    {{!-- <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3 text-capitalize">{{for}}</h6>
                        <div class="d-flex justify-content-center">
                            <h6>$123.00</h6>
                            <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                        </div>
                    </div> --}}
                    <div class="card-footer d-flex justify-content-between bg-light border align-items-baseline">
                        {{!-- <a href="" class="btn btn-sm text-dark p-0"><i
                                class="fas fa-eye text-primary mr-1"></i>View
                            Detail</a> --}}
                        <span data-bs-toggle="modal" data-bs-target="#exampleModal{{@index}}">
                            <i class="fas fa-eye mr-1" style="color: #7CB9E8;"></i>
                        </span>
                        <div class="modal fade" id="exampleModal{{@index}}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header d-flex align-items-center">
                                        <h5 class="modal-title" id="exampleModalLabel">View Item &nbsp;</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <img src={{packimg}} alt="">
                                    </div>

                                </div>
                            </div>
                        </div>

                        <input type="checkbox" name="pics" id={{pixname}} value={{ pixname}}>

                        <label for={{pixname}} class="btn btn-sm text-dark p-0">Select</label>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>


        {{!-- <button type="submit" class="ml-auto ">Proceed to cart</button> --}}
        <button type="submit" class="btn btn-block my-3 mx-auto py-3"
            style="background-color:#0c7ed6;color:bisque">Select Packages</button>


    </form>






    {{else}}

    <h5 class="text-muted">Sorry you cannot proceed as there are no packages available now !</h5>



    {{/if}}
</div>