<style>
    html {
        box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    body {
        margin: 0;
        min-height: 40vh;
        font-size: 1rem;
        line-height: 1.25;
        background-color: #18222d;
    }

    .grid {
        width: 80%;

        margin-left: auto;
        margin-right: auto;

        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .grid-block {
        max-width: 60vw;
        width: 30%;

    }

    .image-grid {
        -webkit-transform: rotateX(0deg) rotateZ(0deg);
        transform: rotateX(0deg) rotateZ(0deg);
        -webkit-perspective: 1000px;
        perspective: 1000px;
        height: 80vh;

        overflow-y: auto;
    }

    @media screen and (max-width:913px) {
        .image-grid {
            display: grid;
            grid-template-columns: 1fr;
        }

        .grid-block {
            width: 100%;


        }
    }

    .image-grid .tile-link:hover .tile-img {
        top: -1rem;
        left: -1rem;



    }

    .image-grid .tile-img {
        position: relative;
        top: 0;
        left: 0;
        height: 30vh;
        width: 100%;
        -webkit-transition-property: opacity, top, left, box-shadow;
        transition-property: opacity, top, left, box-shadow;
    }

    .tile-link {
        display: block;
    }

    .tile-link:hover .tile-img {
        opacity: 1;
    }

    .tile-link:hover .tile-img-link {
        display: block;
    }

    .tile-link:hover .tile-img-link:hover .tile-img {
        opacity: 0.5;
    }

    .tile-img {
        display: block;
        width: 100%;
        height: 40vh;
        opacity: 1;
        padding: 0;
        margin: 0;
        -webkit-transition-property: opacity;
        transition-property: opacity;
        -webkit-transition-duration: 0.125s;
        transition-duration: 0.125s;
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    .tile-link:hover :first-child {
        box-shadow: 5px 5px rgba(244, 170, 200, 0.4),
            10px 10px rgba(244, 170, 200, 0.3), 15px 15px rgba(244, 170, 200, 0.2),
            20px 20px rgba(244, 170, 200, 0.1), 25px 25px rgba(244, 170, 200, 0.05);
    }

    .tile-link:hover .tile-img2 {
        box-shadow: 5px 5px rgba(45, 186, 233, 0.4), 10px 10px rgba(45, 186, 233, 0.3),
            15px 15px rgba(45, 186, 233, 0.2), 20px 20px rgba(45, 186, 233, 0.1),
            25px 25px rgba(45, 186, 233, 0.05);
    }

    .tile-link:hover .tile-img3 {
        box-shadow: 5px 5px rgba(214, 221, 244, 0.4),
            10px 10px rgba(214, 221, 244, 0.3), 15px 15px rgba(214, 221, 244, 0.2),
            20px 20px rgba(214, 221, 244, 0.1), 25px 25px rgba(214, 221, 244, 0.05);
    }

    .tile-link:hover .tile-img4 {
        box-shadow: 5px 5px rgba(82, 119, 192, 0.4), 10px 10px rgba(82, 119, 192, 0.3),
            15px 15px rgba(82, 119, 192, 0.2), 20px 20px rgba(82, 119, 192, 0.1),
            25px 25px rgba(82, 119, 192, 0.05);
    }

    .tile-link:hover .tile-img5 {
        box-shadow: 5px 5px rgba(138, 218, 245, 0.4),
            10px 10px rgba(138, 218, 245, 0.3), 15px 15px rgba(138, 218, 245, 0.2),
            20px 20px rgba(138, 218, 245, 0.1), 25px 25px rgba(138, 218, 245, 0.05);
    }

    .tile-link:hover .tile-img6 {
        box-shadow: 5px 5px rgba(203, 215, 193, 0.4),
            10px 10px rgba(203, 215, 193, 0.3), 15px 15px rgba(203, 215, 193, 0.2),
            20px 20px rgba(203, 215, 193, 0.1), 25px 25px rgba(203, 215, 193, 0.05);
    }

    .tile-link:hover .tile-img7 {
        box-shadow: 5px 5px rgba(91, 209, 250, 0.4), 10px 10px rgba(91, 209, 250, 0.3),
            15px 15px rgba(91, 209, 250, 0.2), 20px 20px rgba(91, 209, 250, 0.1),
            25px 25px rgba(91, 209, 250, 0.05);
    }

    .tile-link:hover .tile-img8 {
        box-shadow: 5px 5px rgba(145, 156, 196, 0.4),
            10px 10px rgba(145, 156, 196, 0.3), 15px 15px rgba(145, 156, 196, 0.2),
            20px 20px rgba(145, 156, 196, 0.1), 25px 25px rgba(145, 156, 196, 0.05);
    }

    .tile-link:hover .tile-img9 {
        box-shadow: 5px 5px rgba(188, 97, 129, 0.4), 10px 10px rgba(188, 97, 129, 0.3),
            15px 15px rgba(188, 97, 129, 0.2), 20px 20px rgba(188, 97, 129, 0.1),
            25px 25px rgba(188, 97, 129, 0.05);
    }

    .tile-link:hover .tile-img10 {
        box-shadow: 5px 5px rgba(4, 140, 231, 0.4), 10px 10px rgba(4, 140, 231, 0.3),
            15px 15px rgba(4, 140, 231, 0.2), 20px 20px rgba(4, 140, 231, 0.1),
            25px 25px rgba(4, 140, 231, 0.05);
    }

    .fa-trash:hover {
        animation: roll 2s linear infinite alternate-reverse;
    }

    @keyframes roll {
        from {
            transform: rotateX(0deg);
            color: rgb(109, 62, 62);

        }

        to {
            transform: rotateY(180deg);
            color: greenyellow;

        }

        to {
            transform: rotateY(180deg);
            color: green;

        }
    }

    .diva {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 9px;
    }

    @media screen and(max-width:991px) {
        .diva {

            grid-template-columns: 1fr;
        }

    }



    .rowl {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        height: 63vh;

    }

    .ifesi {
        background: slategray;
        padding-top: 20px;
        
        box-shadow: -1px 6px 7px black;

    }
    .fesi {
        
        padding-top: 1px;


    }

    /* Create four equal columns that sits next to each other */
    .column {
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;

    }

    .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
        height: 25vh;
        box-shadow: 2px 4px 17px black;
        translate: 3px 7px;
        transform: rotateX(-25deg);
        transform: rotateZ(-5deg);

    }

    .concubine {
        display: flex;
        justify-content: end;
        align-items: center;

    }
    .conc {
        display: flex;
        justify-content:space-between;
        align-items: center;

    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 1000px) {
        .column {
            flex: 50%;
            max-width: 50%;
        }

        .ifesi {
            width: 100%;
            padding: 0 4%;
        }
        .remova,.relad{
            display: none;
        }
        .letters{
            font-size: 20px;
        }
        .concubine {

            display: flex;
            justify-content: space-between;


        }
    }

    .multiple-uploader {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 15px;
        border: 2px dashed #858585;
        min-height: 150px;
        margin: 20px auto;
        cursor: pointer;
        width: 80%;
    }

    .mup-msg {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mup-msg span {
        margin-bottom: 10px;
    }

    .mup-msg .mup-main-msg {
        color: #606060;
        font-size: 1.2rem;
        font-weight: 700;
    }

    .mup-msg .mup-msg {
        color: #737373;
    }

    .image-container {
        margin: 1rem;
        width: 120px;
        height: 120px;
        position: relative;
        cursor: auto;
        pointer-events: unset;
    }

    .image-container:before {
        z-index: 3;
        content: "\2716";
        align-content: center;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        line-height: 22px;
        color: white;
        position: absolute;
        top: -5px;
        left: -5px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #e50000;
        pointer-events: all;
        cursor: pointer;
    }

    .image-preview {
        position: absolute;
        width: 120px;
        height: 120px;
        border-radius: 12px;
    }

    .image-size {
        position: absolute;
        z-index: 1;
        height: 120px;
        width: 120px;
        backdrop-filter: blur(4px);
        font-weight: bolder;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        opacity: 0;
        pointer-events: unset;
    }

    .image-size:hover {
        opacity: 1;
    }

    .exceeded-size {
        position: absolute;
        z-index: 2;
        height: 120px;
        width: 120px;
        display: flex;
        font-weight: bold;
        font-size: 12px;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        color: white;
        background: rgba(255, 0, 0, 0.6);
        pointer-events: unset;
    }
</style>




<div class="main-panel">

    <div class="content-wrapper">
        <div class="container">

            <div class="col-12 grid-margin stretch-card">

                <div class="card">



                    <div class="card-body">

                        <div style="display: flex;justify-content:space-between;flex:0 1 auto;flex-wrap:wrap;">
                            <div>
                                <h1 title="edit name" class="ttooltip card-title " style="cursor: pointer;" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">{{student.name}}
                                    <i class="fa fa-edit"></i>
                                </h1>

                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Edit Name</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/admin/changename/{{student.userid}}" class="forms-sample"
                                                    enctype="multipart/form-data" method="post">

                                                    <div class="form-group">
                                                        <label for="exampleInputName1" class="text-capitalize">Change
                                                            {{student.name}}'s Name to:</label>
                                                        <input type="text" class="form-control" name="names"
                                                            id="exampleInputName1" placeholder=" Enter new name here"
                                                            value="{{student.name}}" required />
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Save Name</button>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <h4 title="{{student.name}}'s school" class="ttooltip text-capitalize">{{student.schoolname}}</h4>

                                <h4 title="{{student.name}}'s class" class="ttooltip card-title text-muted">{{student.classs}}</h4>

                            </div>
                            <div class="w-45">
                                <p>Student code</p>
                                <h6 class="text-success" id="clipr">copied to clipboard </h6>

                                <div class="diva" style="display: flex;flex-wrap:wrap;">
                                    <span title="click to copy" class=" ttooltip btn btn-primary px-3 py-2 text-capitalize ccopy w-70 w-col-lg-50"
                                        onclick="clickpar()">
                                        Copy: <span id="clickpar">{{student.signparent}}</span>
                                    </span>

                                    <a title="regenerate new student code" href="/admin/schoolcode/{{student.userid}}"
                                        class="ttooltip btn fs-30 px-3 py-2 text-capitalize text-light w-70 lg-w-50"
                                        style="background-color: rgb(80, 226, 207);">
                                        Regenerate
                                    </a>
                                </div>

                                {{!-- <p class="card-description">Upload page</p> --}}
                            </div>
                        </div>
                        <br>


                        

                    </div>



                    
                    

                    {{#if pictures}}
                        <div class="fesi mt-1 text-center">
                            <div class="ifesi boxa ">
                                <h1 title="gallery layout" class="ttooltip letters text-center"
                                    style="text-shadow:text-shadow: 4px 5px 4px rgba(66, 68, 90, 1); ;color:aliceblue;cursor:pointer;">
                                    ~<span style="text-transform:capitalize;">{{student.name}}</span>~</h1>
                                <div class="conc">
                                    <div class=" px-lg-5 d-flex justify-content-end">
                                        <div>
                                            <a title="click to upload pictures" href=""
                                                class="ttooltip btn btn-behance bg-success text-center px-3 py-2" data-bs-toggle="modal"
                                                data-bs-target="#exampleModaly">
                                                <i class="fa fa-cloud-upload"></i>
                                            </a>
                                            <br>
                        
                                        </div>
                                        <div class="modal fade" id="exampleModaly" tabindex="-1" aria-labelledby="exampleModalLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content ">
                                                    <div class="modal-header">
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                        <br>
                        
                                                        <h5 class="modal-title" id="exampleModalLabel">Upload new files</h5>
                        
                                                    </div>
                                                    <div class="modal-body  w-100">
                        
                                                        <div class="mother">
                                                            <div class="multiple-uploader mt-2 " id="multiple-uploader">
                                                                <div class="mup-msg">
                                                                    <span class="mup-main-msg">click to upload
                                                                        images.</span>
                                                                    <span class="mup-msg" id="max-upload-number">Upload up
                                                                        to 10 images</span>
                                                                    <span class="mup-msg">Only image files are allowed for
                                                                        upload</span>
                                                                </div>
                                                            </div>
                                                            <form class="forms-sample mx-auto d-flex justify-content-center" id="exo"
                                                                enctype="multipart/form-data" action="/admin/uploads" method="post"
                                                                accept="image/png,image/jpeg">
                        
                        
                        
                                                                <button type="submit" class="btn btn-primary mr-2">
                                                                    Upload
                                                                </button>
                        
                                                            </form>
                                                        </div>
                        
                                                    </div>
                        
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <div class="concubine px-3" style="">
                                        <nav class="ttooltip lboxa" title="switch to lightbox"
                                            aria-label="Page navigation example d-flex justify-contents-end ">
                        
                                            <ul class="pagination d-flex justify-content-end">
                        
                                                <li class="page-item relad"><a class="page-link" href="#"> <i class="fa fa-toggle-on"></i> </a>
                                                </li>
                        
                        
                                            </ul>
                                        </nav>
                                        <nav aria-label="Page navigation examplen d-flex justify-contents-end ">
                        
                                            <ul class="pagination d-flex justify-content-end">
                        
                                                <li class="page-item relad"><a class="page-link" href="#">Details</a></li>
                        
                        
                                            </ul>
                                        </nav>
                                        <nav aria-label="Page navigation examplen d-flex justify-contents-end ">
                        
                                            <ul class="pagination d-flex justify-content-end">
                        
                                                <li class="page-item relad"><a class="page-link" href="/admin/deleteall/{{student.userid}}"> <i
                                                            class="fa fa-trash"></i> all</a></li>
                                                {{!-- <li class="page-item relad"><a class="page-link" href="/admin/delete/{{student.userid}}">
                                                        <i class="fa fa-trash"></i> all</a></li> --}}
                        
                        
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                        
                        
                                <div class="">
                        
                        
                                    <div class="rowl picturehs  text-center">
                                        {{#if pictures}}
                        
                        
                                        {{#each pictures}}
                                        <div class=" text-center column" style="position:relative;" data-bs-toggle="modal"
                                            data-bs-target="#exampleModalio{{@index}}">
                                            <img title="uploaded by {{uploadedby}} {{momentago}}" src={{imgdir}} class="ttooltip pict melo"
                                                style="padding: 0;" alt="...">
                                            <p class="  mt-n5 mx-auto text-center remova bg-dark w-50 text-light"
                                                style="position: absolute;margin:0 auto;"><i class="fa fa-user"></i> {{for}}
                                            </p>
                                            <p class="mt-n4 mx-auto text-center remova bg-dark w-50 text-light"
                                                style="position: absolute;margin:0 auto;">
                                                {{picode}}</p>
                        
                                        </div>
                                        <div class="modal fade" id="exampleModalio{{@index}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h2 class="modal-title text-capitalize text-center" id="exampleModalLabel">
                                                            <small>uploaded by </small>{{uploadedby}}
                                                        </h2>
                        
                        
                                                        {{!-- <h5 class="modal-title" id="exampleModalLabel">exit </h5> --}}
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="my-3 mx-auto text-center">
                                                            <a class=" text-center" href={{imgdir}} style="display: block;margin:0 auto;">
                                                                <img src={{imgdir}} style="width:100%;" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="d-flex justify-content-end w-100 ">
                                                            <small class="text-capitalize text-end text-info">
                                                                {{momentago}}</small>
                                                        </div>
                                                        <br>
                                                        <div class="d-flex justify-content-end">
                                                            <a href="/admin/deletepix/{{pixname}}"><i class="fa fa-trash text-danger"></i></a>
                        
                        
                        
                        
                                                        </div>
                                                    </div>
                        
                                                </div>
                                            </div>
                                        </div>
                        
                        
                        
                        
                                        {{/each}}
                        
                                        {{else}}
                                        <div class="d-flex p-2 " style="width:100%;">
                                            <h4 class="text-dark text-center m-auto" style="width:100%;">No Pictures yet !
                                                !</h4>
                        
                                        </div>
                                        {{/if}}
                                    </div>
                        
                        
                        
                                </div>
                        
                            </div>
                            <div class="ifesi boxb mt-2">
                                <h1 title="Lightbox layout" class=" ttooltip letters text-center"
                                    style="text-shadow:text-shadow: 4px 5px 4px rgba(66, 68, 90, 1); ;color:aliceblue;cursor:pointer;">
                                    ~<span style="text-transform:capitalize;">{{student.name}}</span>~</h1>
                                <div class="conc">
                        
                                    {{!-- <div class=" px-lg-5 d-flex justify-content-end">
                                        <div>
                        
                        
                                        </div>
                        
                                    </div> --}}
                        
                        
                                    <div class="concubine col-12 d-flex justify-contents-between px-3" style="">
                                        <nav class="lboxb" aria-label="Page navigation example d-flex justify-contents-end mr-1 ">
                        
                                            <ul class="pagination d-flex justify-content-end">
                        
                                                <li title="gallery-layout" class="ttooltip page-item relad"><a class="page-link" href="#"><i
                                                            class="fa fa-toggle-off"></i></a></li>
                        
                        
                                            </ul>
                                        </nav>
                        
                                        <nav title="delete all pictures" class="ttooltip"
                                            aria-label="Page navigation examplen d-flex justify-contents-end ">
                        
                                            <ul class="pagination d-flex justify-content-end">
                        
                                                <li class="page-item relad"><a class="page-link" href="/admin/delete/{{student.userid}}"> <i
                                                            class="fa fa-trash"></i> all</a></li>
                        
                        
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="">
                        
                        
                        
                                    <div class="rowl picturesh ">
                                        {{#if pictures}}
                        
                        
                                        {{#each pictures}}
                                        <a href={{imgdir}} title={{for}} data-jbox-image="gallery1"><img class="text-center"
                                                style="height:350px;width: 250px;object-fit:contain;" src={{imgdir}} alt=""></a>
                                        {{/each}}
                        
                                        {{else}}
                                        <div class="d-flex p-2 " style="width:100%;">
                                            <h4 class="text-dark text-center m-auto" style="width:100%;">No pictures yet ! !
                                            </h4>
                        
                                        </div>
                                        {{/if}}
                                    </div>
                        
                        
                                </div>
                        
                        
                        
                        
                        
                        
                        
                        
                            </div>
                        
                        </div>
                        
                        
                    {{else}}
                        <div class=" px-lg-1">
                            <div class="mother">
                                <div class="multiple-uploader mt-2 " id="multiple-uploader">
                                    <div class="mup-msg">
                                        <span class="mup-main-msg">click to upload
                                            images.</span>
                                        <span class="mup-msg" id="max-upload-number">Upload up
                                            to 10 images</span>
                                        <span class="mup-msg">Only image files are allowed for
                                            upload</span>
                                    </div>
                                </div>
                                <form class="forms-sample mx-auto d-flex justify-content-center" id="exo" enctype="multipart/form-data"
                                    action="/admin/uploads" method="post" accept="image/png,image/jpeg">
                            
                            
                            
                                    <button type="submit" class="btn btn-primary mr-2">
                                        Upload
                                    </button>
                            
                                </form>
                            </div>
                        </div>
                    {{/if}}

                    


                    

                </div>







            </div>
            <div class="mt-2">
                <nav aria-label="Page navigation examplen d-flex justify-contents-end ">
            
                    <ul class="pagination d-flex justify-content-end">
            
                        <li class="page-item "><a class="page-link text-danger" href="/admin/delete/{{student.userid}}"> <i
                                    class="fa fa-trash"></i> Delete account</a></li>
                        {{!-- <li class="page-item relad"><a class="page-link" href="/admin/delete/{{student.userid}}"> <i
                                    class="fa fa-trash"></i> all</a></li> --}}
            
            
                    </ul>
                </nav>
            </div>

            

        </div>






    </div>
</div>
</div>

</div>

<script>
    const fboxbuttona = document.querySelector(".lboxa")
    const fboxbuttonb = document.querySelector(".lboxb")
    const fboxa = document.querySelector(".boxa")
    const fboxb = document.querySelector(".boxb")
    fboxa.style.display = "none"

    fboxbuttona.addEventListener("click", function (e) {
        fboxa.style.display = "none"
        fboxb.style.display = "block"

    })
    fboxbuttonb.addEventListener("click", function (e) {
        fboxb.style.display = "none"
        fboxa.style.display = "block"

    })

</script>